<template>
  <div class="home-page-container bg-grey-darker min-h-screen" id="home">
    <NavBar class="nav" :pages="pageList" />
    <div class="flex flex-row flex-wrap w-full justify-start blocks">
      <HomeBlock v-for="block in homeBlocks" :key="block.id" :props="block" />
    </div>
    <ActivityFeed />
    <SVGLibrary />
  </div>
</template>

<script>
import NavBar from '../components/NavBar'
import SVGLibrary from '../components/SVGLibrary'
import HomeBlock from '../components/HomeBlock'
import ActivityFeed from '../components/ActivityFeed'

export default {
  data: function () {
    return {}
  },
  computed: {
    pageList: function () {
      return this.$store.getters.returnPages
    },
    homeBlocks: function () {
      return this.$store.getters.returnHomeBlocks
    }
  },
  methods: {},
  components: {
    NavBar,
    SVGLibrary,
    HomeBlock,
    ActivityFeed
  }
}
</script>
