<template>
  <div>
    <div class="h-screen bg-black flex items-center justify-center">
      <router-link class="flex flex-col items-center w-1/2 hover:w-2/3 cursor-pointer absolute pin-none z-10" to="/home">
        <h1 class="uppercase text-primary font-lato tracking-wide self-start pl-24 leading-none text-7xl">Play</h1>
        <img class="w-1/4 cursor-pointer" src="../assets/images/playtell-dpad.svg" />
        <h1 class="uppercase text-secondary font-lato tracking-wide self-end pr-24 leading-none text-7xl">Tell</h1>
      </router-link>
    </div>
    <div class="absolute pin-none pin-y flex flex-row flex-no-wrap justify-between h-screen w-full overflow-hidden">
      <div v-for="n in 32" :key="n">
        <IconStrip :direction="n" />
      </div>
    </div>
    <SVGLibrary />
  </div>
</template>

<script>
import SVGLibrary from '../components/SVGLibrary.vue'
import IconStrip from '../components/IconStrip.vue'

export default {
  data: function () {
    return {}
  },
  computed: {
    randomImages: function () {
      return this.$store.getters.randomImages
    }
  },
  methods: {},
  created: function () {},
  components: {
    SVGLibrary,
    IconStrip
  }
}
</script>
