<template>
  <div class="feed bg-grey-dark w-full">
    <h2 class="text-white text-center font-raleway font-semibold text-xl py-4">Recent Activity</h2>
    <div class="flex flex-row flex-wrap justify-center px-2">
      <div v-for="item in recentActivityItems" :key="item.id" class="w-full py-4 px-4 shadow-sm bg-grey-darker rounded mb-2 relative">
        <h3 class="text-white font-raleway font-semibold text-base py-2">{{item.title}}</h3>
        <h4 v-if="item.author !== null" class="text-primary font-raleway font-light text-sm pb-2 text-right cursor-pointer hover:text-primary-light">{{item.author}}</h4>
        <p class="text-grey-light font-lato font-light text-sm py-2 pb-10">{{item.content}}</p>
        <a :href="item.link.url">
          <button class="bg-primary absolute pin-r pin-b mb-4 mr-4 hover:bg-secondary hover:shadow-md text-grey-light font-normal uppercase py-2 px-2 text-xs rounded my-2 tracking-wide">{{item.link.label}}</button>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {}
  },
  computed: {
    recentActivityItems: function () {
      return this.$store.getters.returnRecentActivity
    }
  },
  methods: {}
}
</script>
