<template>
  <div id="authOverlay" :class="`absolute w-screen h-screen pin-l pin-t bg-black-trans ${this.showModal === true ? 'hidden' : 'block'}`">
    <div id="authModal" class="relative w-1/2 pin-mid">
      <h3>Sign Up</h3>
      <form>
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="email">Email</label>
        <input type="text" name="email">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {}
  },
  methods: {}
}
</script>
