<template>
  <div class="home-block">
    <div class="py-4 px-4">
      <h2 class="text-white font-raleway font-semibold text-2xl py-2 cursor-pointer hover:text-primary">
        {{this.$attrs.props.title}}
      </h2>
      <h3 v-if="this.$attrs.props.author != null && this.$attrs.props.date != null" class="text-grey-light hover:text-primary cursor-pointer font-raleway font-normal text-sm pb-2">
        {{this.$attrs.props.author}} - {{this.$attrs.props.date}}
      </h3>
      <p class="text-grey-light text-xl font-lato font-light pt-2">
        {{this.$attrs.props.excerpt}}
      </p>
    </div>
    <a :href="this.$attrs.props.link['url']">
      <button class="bg-secondary font-lato font-normal text-xs tracking-wide uppercase text-grey-lightest py-3 px-6 mr-8 mb-8 rounded absolute pin-r pin-b hover:bg-primary hover:shadow-md">
        {{this.$attrs.props.link['label']}}
      </button>
    </a>
  </div>
</template>

<script>
export default {
  data: function () {
    return {}
  },
  computed: {},
  methods: {}
}
</script>
