<template>
  <div v-if="direction % 2 == 0" class="w-10 h-oversized relative">
    <div v-for="j in 1" :key="j" class="topstrip">
      <svg v-for="i in 24" :key="i" class="w-10 h-10">
        <use :href="randomImages[i]"></use>
      </svg>
    </div>
  </div>
  <div v-else class="w-10 h-oversized relative">
    <div v-for="j in 1" :key="j" class="bottomstrip">
      <svg v-for="i in 24" :key="i" class="w-10 h-10">
        <use :href="randomImages[i]"></use>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {}
  },
  methods: {},
  computed: {
    randomImages: function () {
      return this.$store.getters.randomImages
    }
  },
  props: ['direction']
}
</script>
