<template>
  <nav>
    <div v-if="Object.keys(this.pages).length > 0" class="flex justify-start align-middle bg-grey-darkest h-full w-full relative shadow-md">
      <router-link class="flex flex-col items-center self-center w-32 px-4 mx-4 py-1 cursor-pointer" to="/home">
        <h1 class="py-1 uppercase text-base text-primary font-lato tracking-wide self-start leading-none">Play</h1>
        <img class="w-1/3 cursor-pointer" src="../assets/images/playtell-dpad.svg" />
        <h1 class="py-1 uppercase text-base text-secondary font-lato tracking-wide self-end leading-none">Tell</h1>
      </router-link>
      <router-link v-for="(key, value) in this.pages" :key="value" class="navButton" :to="key">
        <span>{{value}}</span>
      </router-link>
      <div class="absolute pin-r pin-mid-y mr-64">
        <div class="self-center relative">
          <svg class="w-6 h-6 opacity-50 absolute pin-none pin-l pin-mid-y ml-4">
            <use href="#icon-search"></use>
          </svg>
          <form class="flex flex-row justify-start">
            <input class="navSearch mr-0" type="text" placeholder="Search games, authors, genres..." />
            <input class="rounded-lg rounded-l-none bg-primary uppercase text-grey-lightest px-8 text-lg h-16 ml-0 hover:bg-primary-dark cursor-pointer" type="submit" value="Go" />
          </form>
        </div>
      </div>
      <SignIn/>
    </div>
    <AuthModal/>
  </nav>
</template>

<script>
import SignIn from './SignIn.vue'
import AuthModal from './AuthModal.vue'

export default {
  computed: {
    isUserLoggedIn: this.$store.getters.returnUserAuthorized,
    shouldAuthModalShow: this.$store.getters.returnAuthModal
  },
  methods: {
    toggleAuthModal: this.$store.setters.toggleAuthModal
  },
  props: {
    pages: Object
  },
  components: {
    SignIn,
    AuthModal
  }
}
</script>

<style>

</style>
