<template>
  <div>
    <button @click="toggleModal" class="authButton">Sign Up</button>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      showModal: false
    }
  },
  methods: {
    toggleModal: (event) => {
      this.showModal = !this.showModal
    }
  }
}
</script>
