<template>
  <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <symbol style="fill: white;" id="icon-search" viewBox="0 0 512 512">
        <title>Search Icon</title>
        <path d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z"/>
      </symbol>
      <symbol :style="this.style" id="icon-dpad" viewBox="0 0 57 57">
        <title>D Pad Icon</title>
        <path d="M36.4 15.4V0H19.6V15.4L28 23.8L36.4 15.4ZM15.4 19.6H0V36.4H15.4L23.8 28L15.4 19.6ZM19.6 40.6V56H36.4V40.6L28 32.2L19.6 40.6ZM40.6 19.6L32.2 28L40.6 36.4H56V19.6H40.6Z" transform="translate(0.710449 0.705933)"/>
      </symbol>
      <symbol :style="this.style" id="icon-graph" viewBox="0 0 56 41">
        <title>Graph Icon</title>
        <path d="M56 6.72281C56 10.4204 53.7091 13.4456 50.9091 13.4456C50.4509 13.4456 50.0182 13.3784 49.6109 13.2103L40.5491 25.1433C40.6764 25.6811 40.7273 26.2862 40.7273 26.8913C40.7273 30.5888 38.4364 33.6141 35.6364 33.6141C32.8364 33.6141 30.5455 30.5888 30.5455 26.8913C30.5455 26.2862 30.5964 25.6811 30.7236 25.1433L24.2327 16.5717C23.8255 16.7398 23.3673 16.807 22.9091 16.807C22.4509 16.807 21.9927 16.7398 21.5855 16.5717L10.0036 31.8997C10.1309 32.4376 10.1818 33.009 10.1818 33.6141C10.1818 37.3116 7.89091 40.3369 5.09091 40.3369C2.29091 40.3369 0 37.3116 0 33.6141C0 29.9165 2.29091 26.8913 5.09091 26.8913C5.54909 26.8913 5.98182 26.9585 6.38909 27.1266L17.9964 11.8322C17.8691 11.2943 17.8182 10.6893 17.8182 10.0842C17.8182 6.38667 20.1091 3.36141 22.9091 3.36141C25.7091 3.36141 28 6.38667 28 10.0842C28 10.6893 27.9491 11.2943 27.8218 11.8322L34.3127 20.4037C34.72 20.2357 35.1782 20.1684 35.6364 20.1684C36.0945 20.1684 36.5527 20.2357 36.96 20.4037L45.9964 8.43713C45.8691 7.89931 45.8182 7.32787 45.8182 6.72281C45.8182 3.02527 48.1091 0 50.9091 0C53.7091 0 56 3.02527 56 6.72281Z"/>
      </symbol>
      <symbol :style="this.style" id="icon-keyboard" viewBox="0 0 56 41">
        <title>Keyboard Icon</title>
        <path d="M51.3333 0H4.66667C2.08931 0 0 2.25739 0 5.04211V35.2948C0 38.0795 2.08931 40.3369 4.66667 40.3369H51.3333C53.9107 40.3369 56 38.0795 56 35.2948V5.04211C56 2.25739 53.9107 0 51.3333 0ZM52.1111 35.2948C52.1111 35.7581 51.7622 36.1351 51.3333 36.1351H4.66667C4.23782 36.1351 3.88889 35.7581 3.88889 35.2948V5.04211C3.88889 4.57876 4.23782 4.20176 4.66667 4.20176H51.3333C51.7622 4.20176 52.1111 4.57876 52.1111 5.04211V35.2948ZM16.5278 21.6391V18.6978C16.5278 18.0017 16.0054 17.4373 15.3611 17.4373H12.6389C11.9946 17.4373 11.4722 18.0017 11.4722 18.6978V21.6391C11.4722 22.3352 11.9946 22.8996 12.6389 22.8996H15.3611C16.0054 22.8996 16.5278 22.3352 16.5278 21.6391ZM25.8611 21.6391V18.6978C25.8611 18.0017 25.3387 17.4373 24.6944 17.4373H21.9722C21.3279 17.4373 20.8056 18.0017 20.8056 18.6978V21.6391C20.8056 22.3352 21.3279 22.8996 21.9722 22.8996H24.6944C25.3387 22.8996 25.8611 22.3352 25.8611 21.6391ZM35.1944 21.6391V18.6978C35.1944 18.0017 34.6721 17.4373 34.0278 17.4373H31.3056C30.6613 17.4373 30.1389 18.0017 30.1389 18.6978V21.6391C30.1389 22.3352 30.6613 22.8996 31.3056 22.8996H34.0278C34.6721 22.8996 35.1944 22.3352 35.1944 21.6391ZM44.5278 21.6391V18.6978C44.5278 18.0017 44.0054 17.4373 43.3611 17.4373H40.6389C39.9946 17.4373 39.4722 18.0017 39.4722 18.6978V21.6391C39.4722 22.3352 39.9946 22.8996 40.6389 22.8996H43.3611C44.0054 22.8996 44.5278 22.3352 44.5278 21.6391ZM11.8611 30.2527V27.3114C11.8611 26.6153 11.3387 26.0509 10.6944 26.0509H7.97222C7.32793 26.0509 6.80556 26.6153 6.80556 27.3114V30.2527C6.80556 30.9488 7.32793 31.5132 7.97222 31.5132H10.6944C11.3387 31.5132 11.8611 30.9488 11.8611 30.2527ZM49.1944 30.2527V27.3114C49.1944 26.6153 48.6721 26.0509 48.0278 26.0509H45.3056C44.6613 26.0509 44.1389 26.6153 44.1389 27.3114V30.2527C44.1389 30.9488 44.6613 31.5132 45.3056 31.5132H48.0278C48.6721 31.5132 49.1944 30.9488 49.1944 30.2527ZM11.8611 13.0255V10.0842C11.8611 9.38809 11.3387 8.82369 10.6944 8.82369H7.97222C7.32793 8.82369 6.80556 9.38809 6.80556 10.0842V13.0255C6.80556 13.7216 7.32793 14.286 7.97222 14.286H10.6944C11.3387 14.286 11.8611 13.7216 11.8611 13.0255ZM21.1944 13.0255V10.0842C21.1944 9.38809 20.6721 8.82369 20.0278 8.82369H17.3056C16.6613 8.82369 16.1389 9.38809 16.1389 10.0842V13.0255C16.1389 13.7216 16.6613 14.286 17.3056 14.286H20.0278C20.6721 14.286 21.1944 13.7216 21.1944 13.0255ZM30.5278 13.0255V10.0842C30.5278 9.38809 30.0054 8.82369 29.3611 8.82369H26.6389C25.9946 8.82369 25.4722 9.38809 25.4722 10.0842V13.0255C25.4722 13.7216 25.9946 14.286 26.6389 14.286H29.3611C30.0054 14.286 30.5278 13.7216 30.5278 13.0255ZM39.8611 13.0255V10.0842C39.8611 9.38809 39.3387 8.82369 38.6944 8.82369H35.9722C35.3279 8.82369 34.8056 9.38809 34.8056 10.0842V13.0255C34.8056 13.7216 35.3279 14.286 35.9722 14.286H38.6944C39.3387 14.286 39.8611 13.7216 39.8611 13.0255ZM49.1944 13.0255V10.0842C49.1944 9.38809 48.6721 8.82369 48.0278 8.82369H45.3056C44.6613 8.82369 44.1389 9.38809 44.1389 10.0842V13.0255C44.1389 13.7216 44.6613 14.286 45.3056 14.286H48.0278C48.6721 14.286 49.1944 13.7216 49.1944 13.0255ZM39.6667 29.6224V27.9417C39.6667 27.2456 39.1443 26.6812 38.5 26.6812H17.5C16.8557 26.6812 16.3333 27.2456 16.3333 27.9417V29.6224C16.3333 30.3185 16.8557 30.8829 17.5 30.8829H38.5C39.1443 30.8829 39.6667 30.3185 39.6667 29.6224Z"/>
      </symbol>
      <symbol :style="this.style" id="icon-controller" viewBox="0 0 56 29">
        <title>Game Controller Icon</title>
        <path d="M50.9091 0H5.09091C2.29091 0 0 2.11769 0 4.70597V23.5298C0 26.1181 2.29091 28.2358 5.09091 28.2358H50.9091C53.7091 28.2358 56 26.1181 56 23.5298V4.70597C56 2.11769 53.7091 0 50.9091 0ZM50.9091 23.5298H5.09091V4.70597H50.9091V23.5298Z"/>
        <path d="M5.09091 14.1179H10.1818V9.41194H15.2727V4.70597H10.1818V0H5.09091V4.70597H0V9.41194H5.09091V14.1179Z" transform="translate(7.63635 7.05896)"/>
        <path d="M3.81818 7.05895C5.92691 7.05895 7.63636 5.47875 7.63636 3.52948C7.63636 1.5802 5.92691 0 3.81818 0C1.70946 0 0 1.5802 0 3.52948C0 5.47875 1.70946 7.05895 3.81818 7.05895Z" transform="translate(30.5455 14.1179)"/>
        <path d="M3.81818 7.05895C5.92691 7.05895 7.63636 5.47875 7.63636 3.52948C7.63636 1.5802 5.92691 0 3.81818 0C1.70946 0 0 1.5802 0 3.52948C0 5.47875 1.70946 7.05895 3.81818 7.05895Z" transform="translate(40.7272 7.05896)"/>
      </symbol>
      <symbol :style="this.style" id="icon-mouse" viewBox="0 0 57 78">
        <title>Computer Mouse Icon</title>
        <path d="M56 27.7285C55.86 12.3782 43.4 1.83407e-07 28 1.83407e-07C12.6 1.83407e-07 0.14 12.3782 0 27.7285V27.9733V48.7085C0 64.1637 12.53 76.6817 28 76.6817C43.47 76.6817 56 64.1637 56 48.7085V27.9733V27.7285ZM49 27.7285H31.5V7.30802C41.335 8.95145 48.86 17.4483 49 27.7285ZM24.5 7.30802V27.7285H7C7.14 17.4483 14.665 8.95145 24.5 7.30802ZM49 48.7085C49 60.2824 39.585 69.6884 28 69.6884C16.415 69.6884 7 60.2824 7 48.7085V34.7218H49V48.7085Z" transform="translate(0.420898 0.517578)"/>
      </symbol>
      <symbol :style="this.style" id="icon-share" viewBox="0 0 56 39">
        <title>Share Icon</title>
        <path d="M46.6667 32.9418C49.2333 32.9418 51.31 30.8241 51.31 28.2358L51.3333 4.70597C51.3333 2.09416 49.2333 0 46.6667 0H9.33333C6.74333 0 4.66667 2.09416 4.66667 4.70597V28.2358C4.66667 30.8241 6.74333 32.9418 9.33333 32.9418H0V37.6478H56V32.9418H46.6667ZM9.33333 28.2358V4.70597H46.6667V28.2358V28.2593L9.33333 28.2358Z" transform="translate(0 0.411926)"/>
        <path d="M14 5.01186C4.92333 6.28247 1.30667 12.5414 0 18.8239C3.24333 14.4238 7.51333 12.4238 14 12.4238V17.5768L23.3333 8.77663L14 0V5.01186Z" transform="translate(16.3333 7.47089)"/>
      </symbol>
      <symbol :style="this.style" id="icon-thumbsdown" viewBox="0 0 56 48">
        <title>Thumbs Down Icon</title>
        <path d="M35.6364 0H12.7273C10.6145 0 8.80727 1.17649 8.04364 2.87064L0.356364 19.4592C0.127273 20.0004 0 20.5651 0 21.1769V25.8828C0 28.4711 2.29091 30.5888 5.09091 30.5888H21.1527L18.7345 41.3419L18.6582 42.0949C18.6582 43.0596 19.0909 43.9538 19.7782 44.5891L22.4764 47.0597L39.2509 31.5535C40.1673 30.7064 40.7273 29.53 40.7273 28.2358V4.70597C40.7273 2.11769 38.4364 0 35.6364 0ZM35.6364 28.2358L24.5891 38.4478L28 25.8828H5.09091V21.1769L12.7273 4.70597H35.6364V28.2358Z"/>
        <path d="M10.1818 0H0V28.2358H10.1818V0Z" transform="translate(45.8182)"/>
      </symbol>
      <symbol :style="this.style" id="icon-thumbsup" viewBox="0 0 57 48">
        <title>Thumbs Up Icon</title>
        <path d="M5.09091 47.0597H28C30.1127 47.0597 31.92 45.8832 32.6836 44.1891L40.3709 27.6005C40.6 27.0593 40.7273 26.4946 40.7273 25.8828V21.1769C40.7273 18.5886 38.4364 16.4709 35.6364 16.4709H19.5745L21.9927 5.71775L22.0691 4.9648C22.0691 4.00007 21.6364 3.10594 20.9491 2.47063L18.2509 0L1.47636 15.5062C0.56 16.3532 0 17.5297 0 18.8239V42.3537C0 44.942 2.29091 47.0597 5.09091 47.0597ZM5.09091 18.8239L16.1382 8.61192L12.7273 21.1769H35.6364V25.8828L28 42.3537H5.09091V18.8239Z" transform="translate(16.1024 0.353027)"/>
        <path d="M10.1818 0H0V28.2358H10.1818V0Z" transform="translate(0.82959 19.1769)"/>
      </symbol>
      <symbol :style="this.style" id="icon-thumbsupdown" viewBox="0 0 56 57">
        <title>Thumbs Up And Down Icon</title>
        <path d="M28 14.1179C28 12.8238 26.95 11.7649 25.6667 11.7649H13.58L15.12 4.28243L15.1667 3.74125C15.1667 3.01182 14.8633 2.35298 14.3967 1.85886L12.5533 0L1.02667 11.6237C0.396667 12.259 0 13.1532 0 14.1179V29.4123C0 31.3653 1.56333 32.9418 3.5 32.9418H19.25C20.6967 32.9418 21.9333 32.0477 22.47 30.8006L27.7433 18.3533C27.9067 17.9533 28 17.5062 28 17.0591V14.1179ZM23.3333 16.7768L18.48 28.2358H4.66667V14.612L9.17 10.0708L7.84 16.4709H23.3333V16.7768Z"/>
        <path d="M24.5 0H8.75C7.30333 0 6.06667 0.894134 5.53 2.14122L0.256666 14.5885C0.0933325 14.9885 0 15.4356 0 15.8826V18.8239C0 20.118 1.05 21.1769 2.33333 21.1769H14.42L12.88 28.6594L12.8333 29.2241C12.8333 29.9535 13.1367 30.6123 13.6033 31.1065L15.4467 32.9418L26.9733 21.318C27.6033 20.6827 28 19.7886 28 18.8239V3.52948C28 1.5765 26.4367 0 24.5 0ZM23.3333 18.3298L18.83 22.871L20.16 16.4709H4.66667V16.165L9.52 4.70597H23.3333V18.3298Z" transform="translate(28 23.5298)"/>
      </symbol>
      <symbol :style="this.style" id="wifi" viewBox="0 0 40 32">
        <title>wifi</title>
        <path d="M20 20c-2.761 0-5 2.239-5 5s2.24 5 5 5c2.762 0 5-2.24 5-5 0-2.761-2.239-5-5-5zM20 28c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3zM32.916 17.972l-0.345 0.362c-0.279 0.292-0.739 0.31-1.041 0.042-6.56-5.829-16.487-5.84-23.060 0-0.302 0.268-0.762 0.25-1.041-0.042l-0.345-0.362c-0.292-0.306-0.275-0.794 0.041-1.076 7.323-6.525 18.417-6.534 25.751 0 0.316 0.281 0.333 0.77 0.041 1.076zM39.316 11.262c-0.287 0.287-0.75 0.295-1.044 0.016-10.214-9.684-26.289-9.723-36.544 0-0.294 0.279-0.757 0.271-1.044-0.016l-0.354-0.354c-0.299-0.299-0.291-0.786 0.016-1.077 11.011-10.446 28.306-10.436 39.307 0 0.307 0.291 0.316 0.778 0.016 1.077l-0.354 0.354z"></path>
      </symbol>
      <symbol :style="this.style" id="window" viewBox="0 0 32 32">
        <title>window</title>
        <path d="M6 10c-1.106 0-2-0.894-2-2s0.894-2 2-2 2 0.894 2 2-0.894 2-2 2zM14 8c0-1.106-0.894-2-2-2s-2 0.894-2 2 0.894 2 2 2 2-0.894 2-2zM20 8c0-1.106-0.894-2-2-2s-2 0.894-2 2 0.894 2 2 2 2-0.894 2-2zM32 5v22c0 1.656-1.344 3-3 3h-26c-1.656 0-3-1.344-3-3v-22c0-1.656 1.344-3 3-3h26c1.656 0 3 1.344 3 3zM30 14h-28v13c0 0.55 0.45 1 1 1h26c0.55 0 1-0.45 1-1v-13zM30 12v-7c0-0.55-0.45-1-1-1h-26c-0.55 0-1 0.45-1 1v7h28z"></path>
      </symbol>
      <symbol :style="this.style" id="users2" viewBox="0 0 40 32">
        <title>users2</title>
        <path d="M6 14c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zM34 14c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zM36 16h-4c-1.1 0-2.094 0.444-2.819 1.163 2.519 1.381 4.306 3.875 4.694 6.837h4.125c1.106 0 2-0.894 2-2v-2c0-2.206-1.794-4-4-4zM20 16c3.869 0 7-3.131 7-7s-3.131-7-7-7-7 3.131-7 7 3.131 7 7 7zM24.8 18h-0.519c-1.3 0.625-2.744 1-4.281 1s-2.975-0.375-4.281-1h-0.519c-3.975 0-7.2 3.225-7.2 7.2v1.8c0 1.656 1.344 3 3 3h18c1.656 0 3-1.344 3-3v-1.8c0-3.975-3.225-7.2-7.2-7.2zM10.819 17.163c-0.725-0.719-1.719-1.163-2.819-1.163h-4c-2.206 0-4 1.794-4 4v2c0 1.106 0.894 2 2 2h4.119c0.394-2.962 2.181-5.456 4.7-6.837z"></path>
      </symbol>
      <symbol :style="this.style" id="user-ninja2" viewBox="0 0 28 32">
        <title>user-ninja2</title>
        <path d="M20.337 18.075l-6.338 6.338-6.338-6.337c-4.287 0.381-7.662 3.938-7.662 8.325v2.6c0 1.656 1.344 3 3 3h22c1.656 0 3-1.344 3-3v-2.6c0-4.387-3.375-7.944-7.663-8.325zM2 12c1.706 0 3.237-0.719 4.325-1.856 0.944 3.369 4 5.856 7.675 5.856 4.419 0 8-3.581 8-8s-3.581-8-8-8c-3.15 0-5.85 1.837-7.156 4.487-1.088-1.5-2.844-2.487-4.844-2.487 0 2.088 1.069 3.925 2.694 5-1.625 1.075-2.694 2.912-2.694 5zM11 6h6c1.106 0 2 0.894 2 2h-10c0-1.106 0.894-2 2-2z"></path>
      </symbol>
      <symbol :style="this.style" id="unlock-alt3" viewBox="0 0 28 32">
        <title>unlock-alt3</title>
        <path d="M25 15h-17v-5.925c0-3.3 2.631-6.044 5.938-6.075 3.337-0.038 6.063 2.669 6.063 6v1.5c0 0.831 0.669 1.5 1.5 1.5s1.5-0.669 1.5-1.5v-1.412c0-4.975-4-9.075-8.981-9.088-4.969-0.013-9.019 4.031-9.019 9v6h-2c-1.656 0-3 1.344-3 3v11c0 1.656 1.344 3 3 3h22c1.656 0 3-1.344 3-3v-11c0-1.656-1.344-3-3-3zM25 29h-22v-11h22v11zM14 27c-0.969 0-1.75-0.781-1.75-1.75v-3.5c0-0.969 0.781-1.75 1.75-1.75s1.75 0.781 1.75 1.75v3.5c0 0.969-0.781 1.75-1.75 1.75z"></path>
      </symbol>
      <symbol :style="this.style" id="microchip" viewBox="0 0 32 32">
        <title>microchip</title>
        <path d="M23 0h-14c-1.657 0-3 1.343-3 3v26c0 1.657 1.343 3 3 3h14c1.657 0 3-1.343 3-3v-26c0-1.657-1.343-3-3-3zM24 29c0 0.551-0.449 1-1 1h-14c-0.551 0-1-0.449-1-1v-26c0-0.551 0.449-1 1-1h14c0.551 0 1 0.449 1 1v26zM32 6.625v0.75c0 0.207-0.168 0.375-0.375 0.375v0h-1.125v0.375c0 0.207-0.168 0.375-0.375 0.375v0h-2.625v-3h2.625c0.207 0 0.375 0.168 0.375 0.375v0 0.375h1.125c0.207 0 0.375 0.168 0.375 0.375v0zM32 12.625v0.75c0 0.207-0.168 0.375-0.375 0.375v0h-1.125v0.375c0 0.207-0.168 0.375-0.375 0.375v0h-2.625v-3h2.625c0.207 0 0.375 0.168 0.375 0.375v0 0.375h1.125c0.207 0 0.375 0.168 0.375 0.375v0zM32 18.625v0.75c0 0.207-0.168 0.375-0.375 0.375v0h-1.125v0.375c0 0.207-0.168 0.375-0.375 0.375v0h-2.625v-3h2.625c0.207 0 0.375 0.168 0.375 0.375v0 0.375h1.125c0.207 0 0.375 0.168 0.375 0.375v0zM32 24.625v0.75c0 0.207-0.168 0.375-0.375 0.375v0h-1.125v0.375c0 0.207-0.168 0.375-0.375 0.375v0h-2.625v-3h2.625c0.207 0 0.375 0.168 0.375 0.375v0 0.375h1.125c0.207 0 0.375 0.168 0.375 0.375v0zM1.875 23.5h2.625v3h-2.625c-0.207 0-0.375-0.168-0.375-0.375v0-0.375h-1.125c-0.207 0-0.375-0.168-0.375-0.375v0-0.75c0-0.207 0.168-0.375 0.375-0.375v0h1.125v-0.375c0-0.207 0.168-0.375 0.375-0.375v0zM1.875 17.5h2.625v3h-2.625c-0.207 0-0.375-0.168-0.375-0.375v0-0.375h-1.125c-0.207 0-0.375-0.168-0.375-0.375v0-0.75c0-0.207 0.168-0.375 0.375-0.375v0h1.125v-0.375c0-0.207 0.168-0.375 0.375-0.375v0zM1.875 11.5h2.625v3h-2.625c-0.207 0-0.375-0.168-0.375-0.375v0-0.375h-1.125c-0.207 0-0.375-0.168-0.375-0.375v0-0.75c0-0.207 0.168-0.375 0.375-0.375v0h1.125v-0.375c0-0.207 0.168-0.375 0.375-0.375v0zM1.875 5.5h2.625v3h-2.625c-0.207 0-0.375-0.168-0.375-0.375v0-0.375h-1.125c-0.207 0-0.375-0.168-0.375-0.375v0-0.75c0-0.207 0.168-0.375 0.375-0.375v0h1.125v-0.375c0-0.207 0.168-0.375 0.375-0.375v0z"></path>
      </symbol>
      <symbol :style="this.style" id="pen-alt" viewBox="0 0 32 32">
        <title>pen-alt</title>
        <path d="M30.828 3.516l-2.344-2.344c-0.781-0.781-1.805-1.172-2.828-1.172s-2.047 0.391-2.828 1.171l-4.242 4.242-1.414-1.414c-0.781-0.781-2.047-0.781-2.828 0l-8.133 8.133c-0.195 0.195-0.195 0.512 0 0.707l0.707 0.707c0.195 0.195 0.512 0.195 0.707 0l8.132-8.132 1.414 1.414-11.298 11.299c-3.177 3.177-5.313 7.395-5.852 12.099l-0.009 0.094-0.002 0.014c-0.099 0.898 0.609 1.666 1.488 1.666 0.358 0 6.941-0.437 12.377-5.872l16.955-16.955c1.562-1.563 1.562-4.095-0.001-5.657zM12.459 24.714c-2.813 2.813-6.496 4.651-10.381 5.212 0.571-3.915 2.406-7.582 5.209-10.385l11.299-11.298 5.172 5.173-11.299 11.299zM29.414 7.759l-4.242 4.242-5.173-5.173 4.242-4.242c0.781-0.781 2.046-0.782 2.828 0l2.344 2.344c0.782 0.781 0.782 2.046 0.001 2.829z"></path>
      </symbol>
      <symbol :style="this.style" id="book2" viewBox="0 0 28 32">
        <title>book2</title>
        <path d="M28 22.5v-21c0-0.831-0.669-1.5-1.5-1.5h-20.5c-3.313 0-6 2.688-6 6v20c0 3.313 2.688 6 6 6h20.5c0.831 0 1.5-0.669 1.5-1.5v-1c0-0.469-0.219-0.894-0.556-1.169-0.262-0.962-0.262-3.706 0-4.669 0.337-0.269 0.556-0.694 0.556-1.163zM8 8.375c0-0.206 0.169-0.375 0.375-0.375h13.25c0.206 0 0.375 0.169 0.375 0.375v1.25c0 0.206-0.169 0.375-0.375 0.375h-13.25c-0.206 0-0.375-0.169-0.375-0.375v-1.25zM8 12.375c0-0.206 0.169-0.375 0.375-0.375h13.25c0.206 0 0.375 0.169 0.375 0.375v1.25c0 0.206-0.169 0.375-0.375 0.375h-13.25c-0.206 0-0.375-0.169-0.375-0.375v-1.25zM23.837 28h-17.837c-1.106 0-2-0.894-2-2 0-1.1 0.9-2 2-2h17.837c-0.119 1.069-0.119 2.931 0 4z"></path>
      </symbol>
    </defs>
  </svg>
</template>

<script>
export default {
  data: function () {
    return {
      style: 'fill: #1f1f1f;'
    }
  },
  methods: {}
}
</script>
