 @import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900|Raleway:100,200,300,400,500,600,700,800,900');

 @tailwind preflight;

@keyframes floatUp {
  from {
    bottom: 0%;
  }

  to {
    bottom: 10%;
  }
}

@keyframes floatDown {
  from {
    top: -10%;
  }

  to {
    top: 0%;
  }
}

.topstrip {
  @apply .flex .flex-col .flex-no-wrap .justify-between .h-oversized .w-10 .absolute .pin-t;
}

.topstrip {
  animation-name: floatDown;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

.bottomstrip {
  @apply .flex .flex-col-reverse .flex-no-wrap .justify-between .h-oversized .w-10 .absolute .pin-b;
}

.bottomstrip {
  animation-name: floatUp;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
 
.navButton {
  @apply .flex .flex-col .justify-center .h-full .px-8 .py-6 .font-lato .font-semibold .tracking-wide .text-lg .text-white .uppercase;
}

.navButton:hover {
  @apply .bg-primary .shadow-lg;
}

.authButton {
  @apply .absolute .pin-r .pin-t .h-full .flex .flex-col .justify-center .content-center .font-lato .tracking-wide .font-semibold .text-lg .py-2 .px-8 .bg-primary .text-white .uppercase;
}

.navSearch {
  @apply .bg-secondary .rounded-lg .rounded-r-none .px-4 .pl-16 .w-96 .h-16 .border-none .text-grey-light .font-lato .font-semibold .text-sm .tracking-wide;
}

.authButton:hover {
  @apply .bg-primary-dark;
}

.home-page-container {
  display: grid;
  height: 100%;
  grid-template-columns: .5em 1.2fr .5em 1.2fr .5em 0.6fr .5em;
  grid-template-rows: 0.4fr 1.3fr 1.3fr;
  grid-template-areas:
    "nav nav nav nav nav nav nav"
    ". blocks blocks blocks . feed ."
    ". blocks blocks blocks . feed .";
  grid-gap: .5em 0;
}

.home-block {
  @apply .bg-grey-dark .px-2 .py-2 .relative;
  width: calc( 50% - .25em );
  margin-bottom: .5em;
}

.home-block:nth-child(even) {
  margin-right: 0;
}

.home-block:nth-child(odd) {
  margin-right: .5em;
}

.nav {
  grid-area: nav;
}

.blocks {
  grid-area: blocks;
}

.feed {
  grid-area: feed;
  margin-bottom: .5em;
}

 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, you should import this line from it's own file:
  * 
  * @import "./tailwind-utilities.css";
  *
  * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
  */

@tailwind utilities;

.justify-evenly {
  justify-content: space-evenly;
}

.j-self-end {
  justify-self: end;
}

.pin-mid-y {
  top: 50%;
  transform: translateY(-50%);
}

.pin-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*:focus {
  outline: none;
}

.bg-black-trans {
  background-color: rgba(0, 0, 0, .3);
}